<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guiyujin.purenote_mvp">

    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/purenote"
        android:label="@string/app_name"
        android:roundIcon="@drawable/purenote"
        android:supportsRtl="true"
        >
        <activity
            android:name=".activity.AddContentActivity"
            android:theme="@style/AppTheme.Main"/>
        <activity
            android:name=".activity.DetailActivity"
            android:theme="@style/AppTheme.Main" />

        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/AppTheme.Main"
            />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.Main"/>
        <activity
            android:name=".activity.LauncherActivity"
            android:theme="@style/Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="myscheme"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>